<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easypan.mappers.UserInfoMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.easypan.entity.po.UserInfo">
        <!--用户ID-->
        <result column="user_id" property="userId"/>
        <!--昵称-->
        <result column="nick_name" property="nickName"/>
        <!--邮箱-->
        <result column="email" property="email"/>
        <!--qqOpenID-->
        <result column="qq_open_id" property="qqOpenId"/>
        <!--qq头像-->
        <result column="qq_avatar" property="qqAvatar"/>
        <!--密码-->
        <result column="password" property="password"/>
        <!--加入时间-->
        <result column="join_time" property="joinTime"/>
        <!--最后登录时间-->
        <result column="last_login_time" property="lastLoginTime"/>
        <!--0:禁用 1:正常-->
        <result column="status" property="status"/>
        <!--使用空间单位byte-->
        <result column="use_space" property="useSpace"/>
        <!--总空间-->
        <result column="total_space" property="totalSpace"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        user_id
        ,nick_name,email,qq_open_id,qq_avatar,
		 password,join_time,last_login_time,status,use_space,
		 total_space
    </sql>

    <sql id="base_condition_filed">
        <if test="query.userId != null and query.userId!=''">
            and user_id = #{query.userId}
        </if>
        <if test="query.nickName != null and query.nickName!=''">
            and nick_name = #{query.nickName}
        </if>
        <if test="query.email != null and query.email!=''">
            and email = #{query.email}
        </if>
        <if test="query.qqOpenId != null and query.qqOpenId!=''">
            and qq_open_id = #{query.qqOpenId}
        </if>
        <if test="query.qqAvatar != null and query.qqAvatar!=''">
            and qq_avatar = #{query.qqAvatar}
        </if>
        <if test="query.password != null and query.password!=''">
            and password = #{query.password}
        </if>
        <if test="query.joinTime != null and query.joinTime!=''">
            <![CDATA[ and  join_time=str_to_date(#{query.joinTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.lastLoginTime != null and query.lastLoginTime!=''">
            <![CDATA[ and  last_login_time=str_to_date(#{query.lastLoginTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.status != null">
            and status = #{query.status}
        </if>
        <if test="query.useSpace != null">
            and use_space = #{query.useSpace}
        </if>
        <if test="query.totalSpace != null">
            and total_space = #{query.totalSpace}
        </if>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.userIdFuzzy!= null  and query.userIdFuzzy!=''">
                and user_id like concat('%', #{query.userIdFuzzy}, '%')
            </if>
            <if test="query.nickNameFuzzy!= null  and query.nickNameFuzzy!=''">
                and nick_name like concat('%', #{query.nickNameFuzzy}, '%')
            </if>
            <if test="query.emailFuzzy!= null  and query.emailFuzzy!=''">
                and email like concat('%', #{query.emailFuzzy}, '%')
            </if>
            <if test="query.qqOpenIdFuzzy!= null  and query.qqOpenIdFuzzy!=''">
                and qq_open_id like concat('%', #{query.qqOpenIdFuzzy}, '%')
            </if>
            <if test="query.qqAvatarFuzzy!= null  and query.qqAvatarFuzzy!=''">
                and qq_avatar like concat('%', #{query.qqAvatarFuzzy}, '%')
            </if>
            <if test="query.passwordFuzzy!= null  and query.passwordFuzzy!=''">
                and password like concat('%', #{query.passwordFuzzy}, '%')
            </if>
            <if test="query.joinTimeStart!= null and query.joinTimeStart!=''">
                <![CDATA[ and  join_time>=str_to_date(#{query.joinTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.joinTimeEnd!= null and query.joinTimeEnd!=''">
                <![CDATA[ and  join_time< date_sub(str_to_date(#{query.joinTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.lastLoginTimeStart!= null and query.lastLoginTimeStart!=''">
                <![CDATA[ and  last_login_time>=str_to_date(#{query.lastLoginTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.lastLoginTimeEnd!= null and query.lastLoginTimeEnd!=''">
                <![CDATA[ and  last_login_time< date_sub(str_to_date(#{query.lastLoginTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM user_info
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM user_info
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.easypan.entity.po.UserInfo">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.nickName != null">
                nick_name,
            </if>
            <if test="bean.email != null">
                email,
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id,
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar,
            </if>
            <if test="bean.password != null">
                password,
            </if>
            <if test="bean.joinTime != null">
                join_time,
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.useSpace != null">
                use_space,
            </if>
            <if test="bean.totalSpace != null">
                total_space,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.nickName!=null">
                #{bean.nickName},
            </if>
            <if test="bean.email!=null">
                #{bean.email},
            </if>
            <if test="bean.qqOpenId!=null">
                #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar!=null">
                #{bean.qqAvatar},
            </if>
            <if test="bean.password!=null">
                #{bean.password},
            </if>
            <if test="bean.joinTime!=null">
                #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime!=null">
                #{bean.lastLoginTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.useSpace!=null">
                #{bean.useSpace},
            </if>
            <if test="bean.totalSpace!=null">
                #{bean.totalSpace},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.easypan.entity.po.UserInfo">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.nickName != null">
                nick_name,
            </if>
            <if test="bean.email != null">
                email,
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id,
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar,
            </if>
            <if test="bean.password != null">
                password,
            </if>
            <if test="bean.joinTime != null">
                join_time,
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.useSpace != null">
                use_space,
            </if>
            <if test="bean.totalSpace != null">
                total_space,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.nickName!=null">
                #{bean.nickName},
            </if>
            <if test="bean.email!=null">
                #{bean.email},
            </if>
            <if test="bean.qqOpenId!=null">
                #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar!=null">
                #{bean.qqAvatar},
            </if>
            <if test="bean.password!=null">
                #{bean.password},
            </if>
            <if test="bean.joinTime!=null">
                #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime!=null">
                #{bean.lastLoginTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.useSpace!=null">
                #{bean.useSpace},
            </if>
            <if test="bean.totalSpace!=null">
                #{bean.totalSpace},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.userId!=null">
                user_id = VALUES(user_id),
            </if>
            <if test="bean.nickName!=null">
                nick_name = VALUES(nick_name),
            </if>
            <if test="bean.email!=null">
                email = VALUES(email),
            </if>
            <if test="bean.qqOpenId!=null">
                qq_open_id = VALUES(qq_open_id),
            </if>
            <if test="bean.qqAvatar!=null">
                qq_avatar = VALUES(qq_avatar),
            </if>
            <if test="bean.password!=null">
                password = VALUES(password),
            </if>
            <if test="bean.joinTime!=null">
                join_time = VALUES(join_time),
            </if>
            <if test="bean.lastLoginTime!=null">
                last_login_time = VALUES(last_login_time),
            </if>
            <if test="bean.status!=null">
                status = VALUES(status),
            </if>
            <if test="bean.useSpace!=null">
                use_space = VALUES(use_space),
            </if>
            <if test="bean.totalSpace!=null">
                total_space = VALUES(total_space),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.easypan.entity.po.UserInfo">
        INSERT INTO user_info(
        user_id,
        nick_name,
        email,
        qq_open_id,
        qq_avatar,
        password,
        join_time,
        last_login_time,
        status,
        use_space,
        total_space
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.nickName},
            #{item.email},
            #{item.qqOpenId},
            #{item.qqAvatar},
            #{item.password},
            #{item.joinTime},
            #{item.lastLoginTime},
            #{item.status},
            #{item.useSpace},
            #{item.totalSpace}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.easypan.entity.po.UserInfo">
        INSERT INTO user_info(
        user_id,
        nick_name,
        email,
        qq_open_id,
        qq_avatar,
        password,
        join_time,
        last_login_time,
        status,
        use_space,
        total_space
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.nickName},
            #{item.email},
            #{item.qqOpenId},
            #{item.qqAvatar},
            #{item.password},
            #{item.joinTime},
            #{item.lastLoginTime},
            #{item.status},
            #{item.useSpace},
            #{item.totalSpace}
            )
        </foreach>
        on DUPLICATE key update
        user_id = VALUES(user_id),
        nick_name = VALUES(nick_name),
        email = VALUES(email),
        qq_open_id = VALUES(qq_open_id),
        qq_avatar = VALUES(qq_avatar),
        password = VALUES(password),
        join_time = VALUES(join_time),
        last_login_time = VALUES(last_login_time),
        status = VALUES(status),
        use_space = VALUES(use_space),
        total_space = VALUES(total_space)
    </insert>

    <!-- 根据UserId修改-->
    <update id="updateByUserId" parameterType="com.easypan.entity.po.UserInfo">
        UPDATE user_info
        <set>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <!-- 根据UserId删除-->
    <delete id="deleteByUserId">
        delete
        from user_info
        where user_id = #{userId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByUserId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from user_info where user_id=#{userId}
    </select>

    <!-- 根据Email修改-->
    <update id="updateByEmail" parameterType="com.easypan.entity.po.UserInfo">
        UPDATE user_info
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where email=#{email}
    </update>

    <!-- 根据Email删除-->
    <delete id="deleteByEmail">
        delete
        from user_info
        where email = #{email}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByEmail" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from user_info where email=#{email}
    </select>

    <!-- 根据NickName修改-->
    <update id="updateByNickName" parameterType="com.easypan.entity.po.UserInfo">
        UPDATE user_info
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.qqOpenId != null">
                qq_open_id = #{bean.qqOpenId},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where nick_name=#{nickName}
    </update>

    <!-- 根据NickName删除-->
    <delete id="deleteByNickName">
        delete
        from user_info
        where nick_name = #{nickName}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByNickName" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from user_info where nick_name=#{nickName}
    </select>

    <!-- 根据QqOpenId修改-->
    <update id="updateByQqOpenId" parameterType="com.easypan.entity.po.UserInfo">
        UPDATE user_info
        <set>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.email != null">
                email = #{bean.email},
            </if>
            <if test="bean.qqAvatar != null">
                qq_avatar = #{bean.qqAvatar},
            </if>
            <if test="bean.password != null">
                password = #{bean.password},
            </if>
            <if test="bean.joinTime != null">
                join_time = #{bean.joinTime},
            </if>
            <if test="bean.lastLoginTime != null">
                last_login_time = #{bean.lastLoginTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.useSpace != null">
                use_space = #{bean.useSpace},
            </if>
            <if test="bean.totalSpace != null">
                total_space = #{bean.totalSpace},
            </if>
        </set>
        where qq_open_id=#{qqOpenId}
    </update>

    <!-- 根据QqOpenId删除-->
    <delete id="deleteByQqOpenId">
        delete
        from user_info
        where qq_open_id = #{qqOpenId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByQqOpenId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from user_info where qq_open_id=#{qqOpenId}
    </select>
    <update id="updateUserSpace">
        update user_info
        <set>
            <if test="useSpace != null">
                use_space = use_space + #{useSpace},
            </if>
            <if test="totalSpace != null">
                total_space = total_space + #{totalSpace},
            </if>
        </set>
        where user_id = #{userId}
        <if test="useSpace != null">
            <![CDATA[ and (use_space + #{useSpace}) <= total_space ]]>
        </if>
        <if test="totalSpace != null">
            <![CDATA[ and (total_space + #{totalSpace}) >= use_space ]]>
        </if>
    </update>
</mapper>